<section></section>

{% schema %}
{
  "name": "Lookbook",
  "class": "lookbook",
  "settings": [
    {
      "type": "metaobject",
      "id": "lookbook",
      "label": "Select Lookbook",
      "metaobject_type": "lookbook"
    }
  ],
  "presets": [
    {
      "name": "Lookbook"
    }
  ]
}
{% endschema %}
